/* Variables */

:root{
    --telefono: 480px;
    --anchoMovil: 490px;
    --tablet: 768px;
    --desktop: 992px;
    --desktopXL: 1200px;
}

/* Globales */

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

.contenedor{
    width: min(120rem, 95%);
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1, h2, h3{
    font-weight: normal;
}

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}
p{
    font-size: 2rem;
    line-height: 1.5rem;
}

img,
picture{
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

.resetear-lista{
    margin: 0;
    padding: 0;
    list-style: none;
}


/* Utilidades */

.seccion {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.contenido-centrado {
    width: min(98rem, 95%);
    margin: 0 auto;
}

.alinear-derecha{
    display: flex;
    justify-content: right;
}

.centrar-texto{
    text-align: center;
}


/* Diseño */

h1{
    margin-bottom: 6rem;
}

div{
    display: flex;
    justify-content: center;
}

input{
    padding: .5rem 1rem;
    text-align: center;
}

